:root {
    --branco-principal: #FFFFFF;
    --cinza-segundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-fundo: #00030C;
    --fonte-principal: 'Inter';
}

body {
    background-color: var(--cor-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

.principal {
    background-image: url("../imagens/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__caixa {
    margin: 0 6em;
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
}

.container__imagem {
    margin: 1em 0 2em 0;
}

.container__botao {
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}
.container__botao:hover {
    background-color: #00f7ff9d;
    color: #000000
}

.botao_secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

.container__aviso {
    font-size: 12px;
    color: var(--cinza-segundario);
}

.secundario {
    align-items: center;
    margin: 0 10em;
    
}

.secundario__imagem {
    width: 80%;
}

.container__descricao {
    padding: 2em;
}

.descricao__titulo {
    font-weight: 700;
    font-size: 48px;
}

.descricao__paragrafo {
    margin: 1em 0;
    font-size: 16px;
    line-height: 24px;
    color: var(--cinza-segundario);
}

.secundario__botao {
    display: inline-block;
    margin-top: .5em;
}

.dispositivos {
    text-align: center;
    margin-bottom: 10em;
}

.dipositivos__titulos {
    font-weight: 700;
    font-size: 42px;
    margin-bottom: 1em;
}

.dispositvos__listas {
    display: flex;
    justify-content: center;
}

.lista__item {
    font-weight: 700;
    font-size: 28px;
    margin-top: .5;
}

.rodape {

}

.rodape__imagem {
    width: 50%;
    margin: 2em auto;
    text-align: center;
}

.rodape__lista {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}

.lista__link {
    font-size: 16px;
    color: var(--branco-principal);
    text-decoration: none;
}

.link__a {
    color: var(--branco-principal);
    text-decoration: none;
    padding: 8px;
}

.link__a:hover {
    color: var(--botao-azul);
}

.link__a:active {
    color: aqua;
}

.rodape__texto {
    font-size: 14px;
    color: var(--cinza-segundario);
    text-align: center;
    margin: 1em 10em;
}